body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    /* margin: 20px; */
}

/* styles for the navbar */
nav {
    background-color: #764caf; /* Achtergrondkleur van de navigatiebalk */
    padding: 10px 0; /* Binnenste vulling boven en onder */
}

nav ul {
    list-style-type: none; /* Verwijder standaard lijstopmaak */
    margin: 0;
    padding: 0;
    text-align: center; /* Centreer de lijstitems */
}

nav ul li {
    display: inline; /* Weergeven van de lijstitems naast elkaar */
    margin: 0 10px; /* Ruimte tussen de lijstitems */
}

nav ul li a {
    color: white; /* Tekstkleur van de links */
    text-decoration: none; /* Verwijder onderstreping van de links */
    font-size: 18px; /* Tekstgrootte van de links */
}

nav ul li a:hover {
    color: yellow; /* Kleur van de links wanneer erover wordt gehoverd */
}
h1 {
    color: #333;
}

form {
    display: inline-block;
    text-align: left;
    background-color: #fff;
    padding: 80px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label, input {
    margin: 10px 0;
    display: block;
}

input[type="text"],
input[type="number"],
input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    padding: 12px;
    background-color: #764caf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #764caf;
}

p {
    margin: 10px;
}

span {
    font-weight: bold;
    color: #1e87f0;
}

a {
    text-decoration: none;
    color: #1e87f0;
    margin: 0 10px;
}

a:hover {
    text-decoration: underline;
}

table, .highscore-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
    white-space: nowrap; /* Prevents wrapping in cells */
}

th {
    background-color: #764caf;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Add the following for the scrolling effect */
.highscore-table {
    max-height: 300px; /* Set a max height for scrolling */
    overflow-y: auto;
}

a.button {
    display: inline-block;
    padding: 12px 20px;
    background-color: #764caf;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #155d96;
}
